@ layout("/common/_layout.html") {
<ol class="breadcrumb">
	<li><a href="/">首页</a></li>
	<li><a href="#">></a></li>
	<li class="active">产品中心</li>
</ol>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>产品列表</h2>
				</div>
				<div class="panel-body">
					<ul class="nav nav-stacked">
						<li><a class="btn" href="#">11111111</a></li>
						<li><a class="btn" href="#">22222222222</a></li>
						<li><a class="btn" href="#">333</a></li>
						<li><a class="btn" href="#">444444</a></li>
					</ul>
				</div>


			</div>
		</div>
		<div class="span10">
			Body content Body content Body content Body content Body content Body
			content Body content Body content Body content Body content Body
			content Body content Body content Body content Body content Body
			content Body contentBody content Body content Body content Body
			contentBody contentBody contentBody contentBody contentBody
			contentBody contentBody contentBody contentBody contentBody
			contentBody contentBody contentBody contentBody contentBody
			contentBody contentBody contentBody contentBody contentBody
			contentBody contentBody contentBody <br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br> contentBody contentBody contentBody contentBody contentBody
			contentBody contentBody contentBody contentBody contentBody
			contentBody contentBody contentBody contentBody contentBody
			contentBody contentBody contentBody contentBody contentBody <br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br> contentBody contentBody contentBody contentBody contentBody
			contentBody contentBody contentBody contentBody contentBody
			contentBody contentBody contentBody contentBody contentBody
			contentBody contentBody contentBody contentBody contentBody
			contentBody contentBody contentBody contentBody contentBody
			contentBody contentBody contentBody contentBody contentBody
			contentBody contentBody contentBody contentBody contentBody
			contentBody contentBody contentBody contentBody contentBody
			contentBody contentBody contentBody contentBody contentBody
			contentBody contentBody contentBody contentBody contentBody
			contentBody contentBody contentBody contentBody contentBody
			contentBody contentBody contentBody contentBody contentBody content
		</div>
	</div>
</div>
@ }
