<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="row">
            <div class="navbar-header">
              <a class="navbar-brand" style="padding-left:0px;" href="/">工创智能</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li id="homeli" 
                @ if(activeli == 'homeli') {
                class="active"
               	@ } 
               	><a href="/">网站首页</a></li>
                <li id="productli" 
                @ if(activeli == 'productli') {
                class="active"
               	@ }
               	><a href="${cxt}/product">产品中心</a></li>
                <li id="serviceli" 
                @ if(activeli == 'serviceli') {
                class="active"
               	@ }
               	><a href="#contact">服务与支持</a></li>
                <li id="newsli" 
                @ if(activeli == 'newsli') {
                class="active"
               	@ }
               	><a href="#contact">新闻中心</a></li>
                <li id="contactli" 
                @ if(activeli == 'contactli') {
                class="active"
               	@ }
               	><a href="#contact">联系我们</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-form navbar-right" role="form" action="">
	            <div class="form-group">
	              <div class="input-group custom-search-form">
                                <input type="text" name="search" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                  </div>
	            </div>
	          </form>
            </div>
            </div>
        </nav>
