<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>智能家居</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link href="${cxt}/assets/css/bootstrap.css" rel="stylesheet">
    
    <script src="${cxt}/assets/js/ie-emulation-modes-warning.js"></script>
    
    <link href="${cxt}/assets/css/carousel.css" rel="stylesheet">
    <link href="${cxt}/assets/css/metisMenu.min.css" rel="stylesheet">
    <link href="${cxt}/assets/css/webstyle.css" rel="stylesheet" type="text/css">
    <link href="${cxt}/assets/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="${cxt}/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="${cxt}/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="${cxt}/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="${cxt}/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="${cxt}/assets/ico/favicon.png">
  </head>
  <body>
  	@ include("_header.html"){}
  	${layoutContent}
  	@ include("_footer.html"){}
  	<script src="${cxt}/assets/js/jquery-1.11.1.js"></script>
    <script src="${cxt}/assets/js/bootstrap.js"></script>
    <script src="${cxt}/assets/js/metisMenu.min.js"></script>
    <script src="${cxt}/assets/js/sb-admin-2.js"></script>
  </body>
</html>